:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #32425C;
  --basic-light-grey: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-light-green: #8ED78F;
  --special-light-yellow: #FFD180;
  --special-navy-blue: #293449;
  --special-dark: #212A3A;
  --special-grey: #F7F3EC;
  --special-error: #BA2732;
  --special-success: #5FBB2D;
  --special-warning: #FFBF47;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 960px;
  font-family: 'Cuprum', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.header {
  background-color: var(--basic-background);
}

.header-menu {
  background-color: var(--special-navy-blue);
}

.header-logo {
  background-color: var(--basic-red);
  display: block;
  width: 220px;
  text-align: center;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-logo:active {
  background-color: var(--special-error);
}

.header-bookmarks,
.header-cart,
.header-order {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.header-order {
  background-color: var(--basic-green);
}

.header-bookmarks:active,
.header-cart:active {
  background-color: var(--special-dark);
  color: rgba(255, 255, 255, 0.5);
}

.header-order:hover {
  background-color: var(--special-success);
}

.header-order:active {
  color: rgba(255, 255, 255, 0.5);
}

.header-description {
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.header-phone {
  color: var(--basic-red);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.header-address {
  color: var(--basic-grey);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.log-in,
.sign-in {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.log-in:hover,
.sign-in:hover {
  color: var(--basic-red);
}

.log-in:active,
.sign-in:active {
  color: var(--basic-light-grey);
}

.header-nav {
  background-color: var(--basic-grey);
  box-shadow: inset 0px -5px 0px #293449;
}

.header-nav a {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.header-nav-item {
  list-style: none;
}

.header-nav-item:hover {
  background-color: var(--special-navy-blue);
}

.header-nav-item:active {
  background-color: var(--special-dark);
}

.about-title,
.contacts-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about p,
.contacts p {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-list {
  font-size: 18px;
  line-height: 24px;
}

.about-button {
  width: 220px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
}

.contacts-map {
  border: none;
  background-color: transparent;
}

.contacts-button {
  width: 300px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.footer {
  background-color: var(--basic-grey);
}

.footer-logo {
  display: block;
  width: 220px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-nav,
.footer-nav-list a {
  color: var(--basic-background);
  font-size: 18px;
  line-height: 24px;
}

.footer-nav-list a:hover,
.product-nav-list a:hover {
  text-decoration: underline;
}

.footer-nav-list a:active,
.product-nav-list a:active {
  opacity: 0.5;
}

.footer-nav-item {
  list-style: none;
}

.product-nav-list a {
  color: var(--special-light-yellow);
  font-size: 18px;
  line-height: 24px;
}

.product-nav-item {
  list-style: none;
}

.social {
  background-color: var(--special-navy-blue);
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
}

.social a {
  color: var(--special-light-yellow);
  font-size: 16px;
  line-height: 18px;
}

.social-item {
  background-color: var(--special-dark);
  text-align: center;
  border-radius: 50%;
  list-style: none;
}

.social-item:hover,
.social-item:active {
  background-color: var(--basic-red);
}

.vk {
  width: 44px;
  height: 30px;
  padding-top: 14px;
}

.fb,
.insta {
  width: 44px;
  height: 33px;
  padding-top: 11px;
}

.meta a:hover {
  text-decoration: underline;
}

.meta a:active {
  color: var(--basic-red);
}

.popup-feedback {
  display: none;
}

.popup-map {
  display: none;
}


/* catalog */

.catalog,
.filter {
  font-family: 'PT Sans', sans-serif;
}

.button-exit {
  font-family: 'Cuprum', sans-serif;
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  text-transform: none;
}

.catalog-user a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
}

.catalog-user a:hover {
  color: var(--basic-red);
}

.button-exit:active,
.catalog-user a:active {
  color: var(--basic-light-grey);
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-title {
  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  min-height: 60px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--basic-background);
  color: var(--basic-grey);
  padding-top: 29px;
  padding-left: 29px;
}

.filter-title,
.sort-title {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--special-grey);
}

.filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter li {
  list-style: none;
}

.filter-button {
  width: 220px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 1px solid #E5E5E5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sort {
  background-color: var(--special-grey);
}

.catalog-list h4 {
  font-size: 18px;
  line-height: 20px;
}

.catalog-item span {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #A9A9A9;
}

.price {
  width: 109px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  clip-path: polygon(0 0, 121px 0, 100% 50%, 121px 100%, 0 100%);
  border-radius: 3px 0 0 3px;
}

.catalog-item {
  width: 220px;
  border: 1px solid #EAEAEA;
  list-style: none;
}

.popup-cart {
  display: none;
}